<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="{% static 'users/css/login.css' %}?v=1.1" type="text/css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
</head>
<body>
    <div class="con">
        <form action="" method="post" aria-labelledby="login-form-title">
            {% if error %}
            <div class="error-con" role="alert" aria-live="assertive">
                <i class="fas fa-exclamation-circle"></i> {{ error }}
            </div>
            {% endif %}
            <h1 id="login-form-title" class="sr-only">Login Form</h1>
            <label for="username">Username:</label>
            <input type="text" id="username" name="username" required aria-required="true">
            <label for="password">Password:</label>
            <input type="password" id="password" name="password" required aria-required="true">
            <div class="but-con">
                {% csrf_token %}
                <button type="submit" class="btn">Login</button>
            </div>
        </form>
    </div>
</body>
</html>
