<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Заказы</title>
    <style>
        #orderForm {
            display: none;
            margin-top: 20px;
        }
    </style>
</head>
<body>

<button onclick="showOrderForm()">
    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-plus" viewBox="0 0 16 16">
        <path d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4"/>
    </svg>
    Добавить заказ
</button>

<div id="orderForm" {% if not request.method == "POST" %}style="display: none;"{% endif %}>
    <form method="post" action="{% url 'users:orders_profile' name=name %}">
        {% csrf_token %}
        <label for="supplier_name">Имя поставщика:</label><br>
        <input type="text" id="supplier_name" name="supplier_name" value="{{ name }}"><br><br>

        <label for="start_date">Дата начала:</label><br>
        <input type="date" id="start_date" name="start_date"><br><br>

        <label for="end_date">Дата окончания:</label><br>
        <input type="date" id="end_date" name="end_date"><br><br>

        <label for="state">Статус:</label><br>
        <input type="text" id="state" name="state"><br><br>

        <label for="payment_state">Статус оплаты:</label><br>
        <input type="text" id="payment_state" name="payment_state"><br><br>

        <button type="submit">Отправить</button>
    </form>
</div>

<div class="show-table">
    <table>
        <thead>
            <tr>
                <th>Имя пользователя</th>
                <th>Имя поставщика</th>
                <th>Дата заказа</th>
                <th>Дата получения</th>
                <th>Статус</th>
                <th>Платежный статус</th>
            </tr>
        </thead>
        <tbody>
            {% for data in all_data %}
            <tr>
                <td>{{ data.username }}</td>
                <td>{{ name }}</td>
                <td>{{ data.start_date|date:"Y-m-d" }}</td>
                <td>{{ data.end_date|date:"Y-m-d" }}</td>
                <td>{{ data.state }}</td>
                <td>{{ data.payment_state }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

<script>
    function showOrderForm() {
        var orderForm = document.getElementById('orderForm');
        if (orderForm.style.display === 'block') {
            orderForm.style.display = 'none';
        } else {
            orderForm.style.display = 'block';
        }
    }
</script>

</body>
</html>