<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AM SRM</title>
</head>
<body>
    <div class="main_block">
    <p>Привет, я бот AM SRM нажим чтобы пробовать.</p>
    <a class="am_refresh" href="/am/">Пробовать</a>
    </div>
</body>
</html>
<style>
    a{
        text-decoration: none;
    }
    .am_refresh {
        display: block;
        width: 200px;
        height: 150px;
        color: aliceblue;
        background-color: black;
        text-align: center;
    }
</style>